@import "index.css";
@import "demo.css";

#menu {
    position:fixed;
    top:-55px;
    padding:2px;
    text-align:center;
    width:50px;
}

#downimg {
    position:absolute;
    height:25px;
    bottom:-25px;
    left:25px;
    top:55px;
}

